@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    color: #fff;
    background-color: #060f1d;
    font-family: Arial, Helvetica, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    width: auto;
  }

  * {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }

  a {
    color: inherit;
    text-decoration: none;
  }

  @media (prefers-color-scheme: dark) {
    html {
      color-scheme: dark;
    }
  }

  .container {
    position: relative;
    min-width: 100vw;
    min-height: 100vh;
    overflow: hidden;
  }

  .bubbles {
    position: relative;
    display: flex;
  }

  .bubbles span {
    position: relative;
    opacity: 0.25;
    width: 30px;
    height: 30px;
    background-color: #4fc3dc;
    margin: 0 4px;
    border-radius: 50%;
    box-shadow: 0 0 10px #4fc3dc44,
                0 0 50px #4fc3dc,
                0 0 100px #4fc3dc;
    animation: animate 30s linear infinite;
    animation-duration: calc(100s / var(--i));
  }

  .bubbles span:nth-child(even) {
    background: #d52dff;
    border-radius: 50%;
    box-shadow: 0 0 10px #fc29f544,
                0 0 50px #d52dff,
                0 0 100px #d52dff;
  }

  @keyframes breathing {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.10);
    }
    100% {
      transform: scale(1);
    }
  }
  @media (max-width: 640px) {
    .bg-black {
      width: 100%;
      padding: 24px;
    }
    button {
      width: 100%;
      padding: 12px;
    }
  }

  @keyframes animate {
    0% {
      transform: translateY(100vh) scale(0);
    }
    100% {
      transform: translateY(-10vh) scale(1);
    }
  }

  @keyframes shake {
    0% { transform: translate(0.5px, 0.5px) rotate(0deg); }
    10% { transform: translate(-0.5px, -0.5px) rotate(-0.5deg); }
    20% { transform: translate(-1px, 0px) rotate(0.5deg); }
    30% { transform: translate(1px, 0.5px) rotate(0deg); }
    40% { transform: translate(0.5px, -0.5px) rotate(0.5deg); }
    50% { transform: translate(-0.5px, 0.5px) rotate(-0.5deg); }
    60% { transform: translate(-1px, 0.5px) rotate(0deg); }
    70% { transform: translate(1px, 0.5px) rotate(-0.5deg); }
    80% { transform: translate(-0.5px, -0.5px) rotate(0.5deg); }
    90% { transform: translate(0.5px, 0.5px) rotate(0deg); }
    100% { transform: translate(0.5px, -0.5px) rotate(-0.5deg); }
  }

  a:hover:not(.pulse-active, .animate-zoomIn), button:hover:not(.pulse-active, .animate-zoomIn) {
    animation: shake 0.3s;
    animation-iteration-count: infinite;
  }

  @keyframes zoomIn {
    0% {
      transform: scale(0);
    }
    100% {
      transform: scale(1);
    }
  }

  @keyframes disco {
    0% { background-color: #cc3333; }
    12.5% { background-color: #33cc33; }
    25% { background-color: #3333cc; }
    37.5% { background-color: #cccc33; }
    50% { background-color: #cc33cc; }
    62.5% { background-color: #33cccc; }
    75% { background-color: #cc9933; }
    87.5% { background-color: #9933cc; }
    100% { background-color: #cc3333; }
  }

  @keyframes pulse {
    0% { transform: scale(1); }
    50% { transform: scale(1.1); }
    100% { transform: scale(1); }
  }

  @keyframes rainbowBorder {
    0% { border-color: #33cc33; }
    12.5% { border-color: #3333cc; }
    25% { border-color: #7b7b08; }
    37.5% { border-color: #cc33cc; }
    50% { border-color: #1e9090; }
    62.5% { border-color: #cc9933; }
    75% { border-color: #9933cc; }
    87.5% { border-color: #cc3333; }
    100% { border-color: #33cc33; }
  }

  @keyframes dance {
    0%, 100% { transform: translateY(0); }
    25% { transform: translateY(-10px); }
    50% { transform: translateY(10px); }
    75% { transform: translateY(-10px); }
  }

  .dance {
    animation: dance 1s infinite;
  }

  .disco {
    animation: disco 4s infinite, pulse 1s infinite, rainbowBorder 4s infinite;
  }

  .pulse-active {
    animation: pulse-animation 1s infinite;
  }

  .pulse-active:nth-child(2) {
    animation-delay: 0.5s;
  }

  @keyframes pulse-animation {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.2);
    }
    100% {
      transform: scale(1);
    }
  }

  @keyframes newDance {
    0%, 100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-10px);
    }
  }

  .new-dance {
    animation: newDance 1.5s infinite;
  }

  @keyframes rotate-animation {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  .rotate {
    animation: rotate-animation 2s linear infinite;
  }

  @keyframes moveLeftToRight {
    0% { transform: translateX(-120vw); opacity: var(--random-opacity); }
    100% { transform: translateX(120vw); opacity: var(--random-opacity); }
  }
  
  @keyframes moveRightToLeft {
    0% { transform: translateX(120vw); opacity: var(--random-opacity); }
    100% { transform: translateX(-120vw); opacity: var(--random-opacity); }
  }
  
  .logo {
    position: absolute;
    opacity: 0;
    top: calc(100vh * var(--random-top));
    width: calc(120px * var(--random-size));
    animation: var(--move-direction) 5s linear;
    animation-delay: var(--random-delay);
  }

  @media (max-width: 1400px) {
    .logo {
      width: calc(7vw * var(--random-size));
    }
  }
  
  @media (max-width: 1200px) {
    .logo {
      width: calc(10vw * var(--random-size));
    }
  }

  @media (max-width: 1000px) {
    .logo {
      width: calc(9vw * var(--random-size));
    }
  }
  
  @media (max-width: 800px) {
    .logo {
      width: calc(13vw * var(--random-size));
    }
  }

  @media (max-width: 600px) {
    .logo {
      width: calc(16vw * var(--random-size));
    }
  }

  @media (min-width: 1400px) {
    .logo {
      width: calc(5vw * var(--random-size));
    }
  }

  @keyframes typewriter {
    from {
      width: 0;
    }
    to {
      width: 20em;
    }
  }
  
  @keyframes blinkTextCursor {
    from {
      border-right-color: hsl(0, 0%, 80%);
    }
    to {
      border-right-color: transparent;
    }
  }

  .animate-zoomIn {
    animation: zoomIn 2s forwards, breathing 3s ease-in-out infinite 2s;
  }
  
  .animate-zoomIn:hover {
    animation: zoomIn 2s forwards, breathing 3s ease-in-out infinite 2s, shake 0.3s infinite;
  }

  .zoomInWithShadow {
    animation: zoomIn 2s forwards;
    -webkit-filter: drop-shadow(5px 5px 5px #222);
    filter: drop-shadow(5px 5px 5px #222);
  }

  .animate-typewriter {
    animation: typewriter 2s steps(22) 1s 1 normal both, blinkTextCursor 800ms infinite;
  }
}